@font-face
{
    font-family: big_noodle_titling; /* Гарнитура шрифта */

    src: url(../fonts/big_noodle_titling.ttf); /* Путь к файлу со шрифтом */
}
::-webkit-scrollbar
{
    width: 10px;
    height: 5px;

    cursor: pointer;
}
::-webkit-scrollbar-track-piece
{
    background: #606060;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;

    cursor: pointer;

    background-color: #1565c8;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 10px;

    cursor: pointer;

    background-color: #1565c8;
}
*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

    margin: 0;
    padding: 0;

    background: #fff;

    font-color: #606060;
}
ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}a
{
    text-decoration: none;
}
.center_wrap
{
    width: 1171px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}
.clearfix:after
{
    display: table;
    clear: both;

    content: '';
}
.title
{
    font-family: big_noodle_titling;
    font-size: 50px;

    padding-top: 111px;

    text-align: center;
    letter-spacing: 3px;
}

/*ХЕДЕР*/
.header-bg
{
    width: auto;

    background-image: url('../img/bg_header.jpg');
    /*background-size: 100%;*/
    background-size: 100%;
}
.top_info
{
    /*opacity: .75;*/
    border-bottom: 2px solid #5f5f5f;
    background: rgba(59, 59, 59, 0.7);
}
.header-bg a
{
   /* opacity: 1;*/
    color: #fff;
}
.header-bg a:hover,
.header-bg a:active
{
    background: rgba(36, 36, 36, 0.5);
}
/*тонкая линия хедер с соц сетями и иконками*/

/*слева почта и телефон*/
.mail
{
    float: left;

    width: 650px;
}
.mail li
{
    display: inline-block;
}
.mail a
{
    font-size: 13px;

    position: relative;

    display: block;

    padding: 10px 35px;
    /* background: url("../img/spritesheet.png") no-repeat -5px -195px;*/
}
.telephone:before
{
    position: absolute;
    top: 50%;
    left: 6px;

    width: 17px;
    height: 17px;
    margin: -7px 0 0;

    content: '';

    background: url('../img/spritesheet.png') no-repeat -5px -437px;
}
.site:before
{
    position: absolute;
    top: 50%;
    left: 6px;

    width: 17px;
    height: 17px;
    margin: -7px 0 0;

    content: '';

    background: url('../img/spritesheet.png') no-repeat -5px -415px;
}
.data:before
{
    position: absolute;
    top: 50%;
    left: 8px;

    width: 17px;
    height: 17px;
    margin: -7px 0 0;

    content: '';

    background: url('../img/spritesheet.png') no-repeat -5px -461px;
}

/*справа соц сети*/
.social_info
{
    float: right;

    width: 350px;
}
.social_info li
{
    display: inline-block;
}
.social_info i {
   
}
.social_info a
{
    display: block;

    width: 17px;
    height: 15px;
    padding: 10px 18px;
    
    /*border-radius: 50%;*/
}
.social_info a:hover
{
    background: rgba(36, 36, 36, 0.5);
}
/*тут ширину и высоту вынести можно было бы*/
/*.social_fb
{
    background: url(../img/spritesheet.png);
    background-position: -5px -193px;
}
.social_tw
{
    background: url(../img/spritesheet.png);
    background-position: -5px -217px;
}.social_inst
{
    background: url(../img/spritesheet.png);
    background-position: -5px -240px;
}.social_yb
{
    background: url(../img/spritesheet.png);
    background-position: -5px -266px;
}.social_ws
{
    background: url(../img/spritesheet.png);
    background-position: -5px -84px;
}.social_sear
{
    background: url(../img/spritesheet.png);
    background-position: -5px -109px;
}*/

/*навигация*/
.navigation
{
    margin-bottom: 110px;

    /*opacity: .75;*/
     background: rgba(59, 59, 59, 0.7);
}
.main_logo
{
    float: left;

    background: url(../img/logo.png) no-repeat 10px 10px;
}
.main_logo a
{
    font-family: big_noodle_titling;
    font-size: 40px;

    display: block;

    width: 200px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 10px;
}
.main_logo .logo
{
    color: #0366d3;
}
.main_logo .logo2
{
    /*text-align: center;*/
    font-family: Open sans;
    font-size: 13px;
}

.top_menu
{
    float: right;

    width: 640px;
}
.top_menu li
{
    display: inline-block;
}
.top_menu a
{
    display: block;

    padding: 20px;
}



/*<!-- блок с большим заголовком и формой поиска -->*/
.header_content
{
    position: relative;
}
.header_title
{
    float: left;

    width: 600px;
    margin-top: 150px;
    margin-bottom: 177px;

    color: white;
}
.header_title h1
{
    font-family: big_noodle_titling;
    font-size: 58px;

    letter-spacing: 3px;
}
.header_title p
{
    font-family: Open Sans;
    font-size: 30px;

    padding: 0 40px;

    text-align: center;

    color: white;
}


/*ФОРМА*/
.search_form
{
    position: absolute;
    z-index: 10;
    right: 0;

    float: right;

    width: 425px;
    padding: 40px;

    background: #fff;
}
.search_form h1
{
    font-family: big_noodle_titling;
    font-size: 70px;

    text-align: center;

    color: #606060;
}
.search_form p
{
    font-size: 20px;

    text-align: center;

    color: #606060;
}
.search_form input
{
    width: 380px;
    margin-top: 20px;
    padding: 20px;

    border-radius: 5px;
}
input[type='serch']
{
    position: relative;
}
input[type='serch']:after
{
    position: absolute;
    top: 14px;
    left: 270px;

    width: 15px;
    height: 15px;

    content: '';

    background: url(../img/spritesheet.png);
    background-position: -5px -109px;
}

.search_form a
{
    font-size: 16px;
    font-weight: bold;

    display: block;

    margin-top: 23px;
    padding: 20px 0;

    text-align: center;

    color: #fff;
    border-radius: 5px;
    background: #006fe6;
}




/*футур хедера*/
.header-bottom
{
    padding: 60px;

    /*opacity: .5;*/
    background: rgba(71, 159, 255, 0.5);
}
.header_description
{
    width: 576px;

    color: #fff;
}



/*MAIN*/

/*БЛОК сан франциско*/
.tour-type-bg
{
    background-image: url('../img/bg_main.jpg');
    background-size: cover;
}
.tour-type_title
{
    width: 950px;
    margin: 0 auto;
    margin-bottom: 55px;

    text-align: center;
}
.tour-type_title h1
{
    margin-bottom: 30px;

    color: #606060;
}
.tour-type_title p
{
    font-size: 20px;
}
.tour-type_places
{
    padding-bottom: 140px;
}
.tour-type_places h2
{
    font-family: big_noodle_titling;
    font-size: 45px;

    position: absolute;
    top: 110px;
    left: 45px;

    color: #fff;
}
.tour-type_places .type
{
    position: relative;

    float: left;

    width: 270px;
    height: 270px;
    margin-right: 30px;

    border-radius: 50%;
}
/*незнаю как затемнить фон , текст плохо видно*/
.north-america
{
    /*opacity: 60%;*/
    background: url(../img/america.jpg);
}
.west-america
{
    background: url(../img/north_america.jpg);
}
.san-francisco
{
    background: url(../img/san_francisco.jpg);
}
.tour-type_places .amason
{
    float: right;

    margin-right: 0;

    background: url(../img/amason.png);
}



/*SURFING*/
/*немогу наложить синий фон*/
.deals-bg
{
    background-image: url(../img/bg_maimn2.jpg);
    background-size: cover;
}
.deals-title .title
{
    margin-bottom: 70px;

    color: #fff;
}
.column
{
    position: relative;

    width: 373px;
    margin-bottom: 60px;
    padding-bottom: 20px;

    background: #fff;
}
.price
{
    font-size: 30px;

    position: absolute;
    top: 230px;
    right: 0;
    left: 0;

    width: 126px;
    margin: 0 auto;
    padding: 10px 20px;

    text-align: center;

    color: white;
    border-radius: 5px;
    background: #47a0ff;
}
.last-worth
{
    font-size: 20px;

    text-decoration: line-through;
}
.column h2,
p
{
    text-align: center;

    color: #606060;
}
.column h2
{
    font-family: big_noodle_titling, Arial;
    font-size: 50px;

    margin-top: 40px;
    padding: 25px;
}
.column p
{
    font-size: 15px;

    padding: 0 30px 30px 0;
}
.column a
{
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: bold;

    display: block;

    width: 160px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background: #006fe6;
}
.column a:hover
{
    opacity: .7;
}
.column-right
{
    float: right;

    margin-right: 0;
}


.column-left
{
    float: left;

    margin-right: 25px;
}
.column-center
{
    float: left;
}



.gallery-bg
{
    margin: 0 auto;
}
.gallery-title .title
{
    margin-bottom: 107px;

    color: #606060;
}
.gallery
{
    width: 100%;
    margin: 0 auto;

    background: white;
}
.place
{
    position: relative;

    float: left;

    width: 33.33333%;
    height: 400px;
    margin: 0;
    padding: 0;
}
.place img
{
    width: 100%;
    height: 100%;
}
/*.gallery-place1{
    background: url(../img/gallery/1.jpg);
    background-size: cover;
}
.gallery-place5{
background: url(../img/gallery/5.jpg);
    background-size: cover;
}
.gallery-place6{
background: url(../img/gallery/6.jpg);
    background-size: cover;
}*/
.place h3
{
    font-size: 30px;
    font-weight: bold;

    position: absolute;
    top: 160px;
    left: 70px;

    text-transform: uppercase;

    color: #000;
    color: #fff;
}
.place p
{
    font-size: 14px;
    font-weight: bold;

    position: absolute;
    top: 210px;
    left: 130px;

    color: #000;
    color: #fff;
}
.place a
{
    display: none;
}
.place:hover
{
    opacity: .7;
}
.place:hover a
{
    font-size: 14px;
    font-weight: bold;

    position: absolute;
    top: 250px;
    left: 150px;

    display: block;

    width: 80px;
    padding: 14px 25px;

    color: #fff;
    border-radius: 5px;
    background: #006fe6;
}
.place:hover a:hover
{
    opacity: .7;
}


/*НОВОСТИ И СОБЫТИЯ*/
.news-events-bg
{
    background: #ebebeb;
}
.news-events-title
{
    width: 950px;
    margin: 0 auto;
    margin-bottom: 55px;

    text-align: center;
}
.news-events-title .title
{
    margin-bottom: 40px;

    color: #353535;
}
.column-news
{
    float: left;

    width: 350px;
    margin-right: 30px;
    margin-bottom: 110px;
    padding: 10px;

    background: #fff;
}
.column-news-right
{
    float: right;

    margin-right: 0;
}
.column-nows-description
{
    padding: 40px 25px;
}
.column-news h4
{
    font-size: 18px;

    margin: 34px 0;

    color: #47a0ff;
}
.column-news p
{
    padding-top: 70px;

    text-align: left;
}
.autor
{
    float: left;
}
.time
{
    float: right;
}


/*ЛАКШАРИ*/
.luxury-bg
{
    font-family: big_noodle_titling;

    color: #fff;
    background: url(../img/bg_footer.jpg);
    background-size: cover;
}
.luxury-title
{
    font-size: 147px;

    padding: 193px 0 20px;

    text-align: center;
}
.luxury-bg p
{
    font-size: 50px;
}
.luxury-bg a
{
    font-size: 18px;

    display: block;

    width: 158px;
    height: 158px;
    margin: 0 auto;
    margin-bottom: 168px;

    text-align: center;
    vertical-align: bottom;
    line-height: 155px;
    color: #fff;
    border-radius: 50%;
    background: #47a0ff;
}
.luxury-bg a:hover
{
    opacity: .8;
}




/*ФУТЕР*/
footer
{
    background: #fff;
}
address a{
    color:#606060;
}
.footer-info
{
    padding: 80px 0 100px;

    color: #606060;
}
.footer-column
{
    float: left;
    /*margin-right: 60px;*/
}
.footer-title
{
    font-family: big_noodle_titling;
    font-size: 30px;

    margin-bottom: 45px;;
}
.foot-column-1
{
    width: 310px;
}
.foot-column-2
{
    width: 274px;

    color: #606060;
}
.foot-column-3
{
    margin-right: 0;
}
.foot-column-4
{
    position: relative;

    float: right;
}
.follow ul
{
    float: left;

    width: 270px;

}
.follow li
{
    display: inline-block;

    border-radius: 50%;
}

.follow li a
{
    display: block;

    width: 45px;
    height: 45px;

    border-radius: 50%;

    background: #47a0ff
}
.follow li a:hover
{
    background: red
}
.follow .fa
{
    color: #fff;
    margin: 14px;
}


/*тут нужно наверно менять sprite, потомучто соседние иконки видны*/
/*вобщем переделать*/
/*.follow li:first-child
{
    background: #47a0ff url(../img/spritesheet.png) 30px 60px;
}
.follow li:nth-child(2)
{
    background: #47a0ff url(../img/spritesheet.png) 48px 32px;
}
.follow li:nth-child(3)
{
    background: #47a0ff url(../img/spritesheet.png) -5px -240px;
}
.follow li:nth-child(4)
{
    background: #47a0ff url(../img/spritesheet.png) -5px -266px;
}
.follow li:hover
{
    opacity: .7;
}*/

.foot-column-4 input[type='text']
{
    width: 240px;
    padding: 20px;

    border-radius: 5px;
}
.foot-column-4 input[type='submit']
{
    font-size: 14px;
    font-weight: bold;

    position: absolute;
    top: 82px;
    right: 0;

    display: block;

    width: 100px;
    padding: 15px 0;

    text-transform: uppercase;

    color: #fff;
    border-radius: 5px;
    background: #006fe6;
}
.foot-column-4 input[type='submit']:hover
{
    opacity: .7;
}





/*Футера футер*/
.footer-bottom
{
    font-size: 13px;

    padding: 20px 0;

    color: #606060;
    border-top: 2px solid #d0d0d0;
    background: #fff;
}
.copyright
{
    float: left;

    width: 500px;
}
.design
{
    float: right;

    width: 290px;
}
/*.bdgola
{
    background: url(../img/spritesheet.png) -5px -266px;
}
label{
    position: relative;
}
label[for="serch"]::after {
    background-position: -5px -193px;
}
label[for="serch"]:after{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background: url(../img/spritesheet.png) no-repeat;
    top: 5px;
    left: 370px;
}

/*label[for="destination"]::after {
    background-position: -7px -35px;
}*/
label[for="destination"]:after{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background: url(../img/spritesheet.png) -5px -35px;
    top: 5px;
    left: 370px;
}

label[for="tour-type"]::after {
    background-position: -7px -5px;
}
label[for="tour-type"]:after{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background: url(../img/spritesheet.png) no-repeat;
    top: 5px;
    left: 370px;
}

label[for="month"]::after {
    background-position: -7px -5px;
}
label[for="month"]:after{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background: url(../img/spritesheet.png) no-repeat;
    top: 5px;
    left: 370px;
}
*/