@font-face {
  font-family: "league_gothicregular";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"),
  url("../fonts/leaguegothic-regular-webfont.woff") format("woff"),
  url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype");
}
html {
  position: relative;

  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/**{border: 1px solid #000;}*/
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}a {
  text-decoration: none;

  cursor: pointer;
}
body {
  font-family: "league_gothicregular", sans-serif;
}

.clearfix:after {
  display: block;
  clear: both;

  content: "";
}
.center-wrap {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

/*=====ÃÂ¥Ãâ€¢Ãâ€Ãâ€¢ÃÂ =======*/
.head {
  padding-top: 70px;
  padding-bottom: 167px;

  border-bottom: 1px solid #33253a;
  background: url(../img/header_bg.jpg);
  background-position: center center;
  background-size: cover;

  text-transform: uppercase;
}
/*===========Ãâ€ºÃÅ¾Ãâ€œÃÅ¾=========*/
.logo {
  float: left;
  width: 170px;

  font-size: 48px;
  color: #fff;
}
.logo--head {
  color: #724f81;
}
/*==============ÃÅ“Ãâ€¢ÃÂÃÂ®==============*/
.nav {
  float: right;
  margin-bottom: 162px;
  padding: 0;
}
.menu {
  font-size: 0;
}
.dropdown{display: none;}
.menu__item {
  display: inline-block;
}
.menu__link {
  display: block;
  padding: 14px 23px;

  font-size: 24px;
  color: #fff;
}
.menu__link:hover {
  opacity: .5;
}
.menu__item_active {
  position: relative;
}




.head-bg {
  background: rgba(0,0,0,.2);
  padding: 76px 0 79px;
}

/*VVOT TUT VOPROS */
.main-description {
  position: relative;
  padding: 0 435px 0 0;
}
.main-img--320 {
  display: none;
}
.main-img {
  position: absolute;
  top: -100px;
  right: 70px;
}
.main-description__play {
  /*display: block;*/
  position: absolute;
  top: 50px;
  right: 130px;
}
.main-description__page-title {
  font-size: 60px;
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
}
.main-description__title {
  margin: 0;
  padding: 0;

  font-size: 25px;
  color: #edbfff;
}
.main-description__summary {
  font-family: "Open Sans";
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  /*padding: 0;
  margin: 0;*/
}



/*ÃÂ¡Ãâ€¢ÃÅ¡ÃÂ¦ÃÅ“ÃÂ¯ ÃÂ¢ÃÂ ÃËœ ÃÅ¡ÃÅ¾Ãâ€ºÃÅ¾ÃÂÃÅ¡ÃËœ ÃÂ¡ ÃËœÃÅ¡ÃÅ¾ÃÂÃÅ¡ÃÂÃÅ“ÃËœ ÃÂ¡ÃÅ¸ÃÂ ÃÂÃâ„¢ÃÂ¢*/

.about-company {
  padding: 70px 0 68px; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */

  border-top: 1px solid #33253a;
  border-bottom: 1px solid #0d151b;
  background: linear-gradient(to bottom,  #745083 0%, #6f4d7d 10%, #5e426a 20%, #543b5f 50%, #422f4b 70%, #33263b 100%);
}
.company-items {
  position: relative;
  float: left;
  width: 280px;
  margin-right: 54px;
  padding-left: 64px;
}
.company-items:nth-child(3) {
  margin-right: 0;
}
.setting:after,
.think:after,
.sound:after {
  position: absolute;
  top: 12px;
  left: 11px;

  width: 29px;
  height: 29px;

  background: url("../img/spritesheet.png");

  content: "";
}
.setting:after {
  background-position: -34px 0;
}
.think:after {
  background-position: 34px 0;
}
.sound:after {
  background-position: 0 0;
}

.company-items__title {
  margin: 0;
  padding: 0;

  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}
.company-items__description {
  /* padding: 0px 0; */
  margin: 12px 0 25px;

  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
}
.company-items__more {
  display: block;

  font-size: 18px;
  color: #fff;
  text-align: right;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}
.company-items__more:hover {
  opacity: .5;
}




.client-block {
  padding: 92px 0 91px;

  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #c6c6c6 0%, #d4d4d4 2%, #ededed 4%, #f9f9f9 100%);
}

.comment {
  position: relative;

  float: left;
  width: 427px;
  margin-left: 32px;
  padding: 30px;

  background: #fff;
}
.comment__client {
  position: absolute;
  top: 24px;
  left: -31px;
}
.comment:after {
  position: absolute;
  right: 50px;
  bottom: -18px;
  z-index: 100;

  width: 0;
  height: 0;

  border-width: 0 18px 18px 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;

  content: "";
}
.comment__title {
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
}
.comment--er {
  color: #edbfff;
}
.comment__description {
  margin: 0;

  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  color: #686868;
}


.update-block {
  float: right;
  width: 450px;
  padding-top: 32px;
}
.update-block__title {
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
}
.update {
  padding: 10px 0;
  overflow: hidden;
}
.update__img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 18px;

  border-radius: 50%;
}
.update__link {
  display: block;

  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #454545;
  /* padding-left: 54px; */
  /* margin-left: 23px; */
  text-decoration: none;
}
.update__link:hover {
  opacity: .5;
}
.update__sescription {
  margin: 0;
  padding: 0;

  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  color: #454545;
}
.update-block__more {
  display: block;

  font-size: 18px;
  color: #454545;
  text-align: right;
  text-transform: uppercase;
}
.update-block__more:hover {
  opacity: .5;
}



.sponsors {
  margin: 0 auto;

  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
  background: #f9f9f9;
  background: #f9f9f9;

  text-align: center;
  /* border-bottom: 1px solid #000; */
}
.sponsors__item {
  display: inline-block;
  padding: 25px 35px;

  vertical-align: middle;
}


.news-block {
  padding: 93px 0 70px;

  border-top: 1px solid #d8d8d8;
  background: #ececec;
}
.news,
.copyright {
  float: left;
  width: 278px;
  margin-right: 60px;
}
.news:last-child {
  margin-right: 0;
}
.copyright__title {
  font-size: 48px;
  color: #454545;
  text-transform: uppercase;
}
.copyright--er {
  color: #bcbcbc;
}
.copyright__copy {
  font-family: Georgia, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #c5c5c5;
}
.copyright__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #787878;
}
.news__title {
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
}
.news__sescription {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #787878;
}




.footer {
  padding: 33px 0 25px;

  background: url(../img/footer_bg.jpg);
  background-position: center center;
  background-size: cover;
}
.menu--footer {
  float: left;
}
.menu--footer .menu__link {
  padding: 10px 20px;

  font-size: 21px;
  /* text-decoration: underline; */
  text-transform: uppercase;
}
/*.menu--footer .menu__link:first-child{
  padding-left: 0;
}*/
.designer {
  float: right;
  margin: 17px 0;

  font-family: "Open-Sans", Arial, sans-serif;
  /* width: 180px; */
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}
.designer a {
  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #fff;
}
.designer a:hover {
  opacity: .5;
}

html,
body {
  height: 100%;
}
footer {
  overflow: hidden;
}
.wrap {
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;

  table-layout: fixed;
}
.w1 {
  display: table-row;
  height: 100%;
}


.menu__border{
  display: inline-block;
  border-bottom: 2px solid #edbfff;
  padding: 5px 5px 0 5px;
  
}